.cardskill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 20px;
    margin: 10px
}
.wapperskill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px
}
.skill {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 200px;
    height: 200px;
    background: #040b14;
    border: 10px solid yellowgreen
}
.textabout h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
.textabout h1:after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 5px;
    background: yellowgreen;
    left: 0;
    bottom: 0;
}
